# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log
do.txt

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
.nyc_output/

# Build
build/
dist/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# IDE/editor
.vscode/
.idea/

# Misc
*.swp
